@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lavishly+Yours&display=swap');
:root{
    --primary-color: #000000;  
    --secondary-color: #222222; 
    /* linear color of banner bg */
    --tertiary-color: rgba(119, 119, 119, 0); 
    --fourth-color: white;
    /* button color */
    --fifth-color: #E6533C;
    /* regular paragrah color */
    --sixth-color: rgba(255, 255, 255, 0.5);
}
*{
    margin: 0;
    padding: 0;
}
/* font */
.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.lavishly-regular {
    font-family: "Lavishly Yours", cursive;
    font-size: 4.88rem;
    font-style: normal;
}
h1{
    font-size: 4.88rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 1.75rem;
}
/* navlink,  */
h4{
    font-size: 1.125rem;
}
span{
    font-size: 0.81rem;
}
p{
    font-size: 1rem;
}
/* text color */
.text-black{
    color: var(--primary-color);
}
.text-gray-700{
    color: var(--secondary-color);
}
.text-gray-400{
    color: var(--sixth-color);
}
.text-white{
    color: var(--fourth-color);
}
.text-orange{
    color: var(--fifth-color);
}
.bg-gray-700{
    background-color: var(--tertiary-color);
}
/* Font Weights */
.font-thin { font-weight: 100; }
.font-extralight { font-weight: 200; }
.font-light { font-weight: 300; }
.font-normal { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }
.font-extrabold { font-weight: 800; }
.font-black { font-weight: 900; }

/* button */
.btn_primary{
    max-width: 224px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    border-radius: 42px;
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--fourth-color);
    background-color: var(--fifth-color);
    padding: 16px 0;
}
/* others */
.d-flex{
    display: flex;
}
.d-col{
    flex-direction: column;
}
.d-hide{
    display: none;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items:center;
}
.m-auto{
    margin: 0 auto;
}
.img-fluid{
    width: 100%;
}
body{
    max-width: 1440px;
    background-color: var(--primary-color);
}
.container{
    max-width: 73.61%;
    margin: 0 auto;
}
section{
    margin-top: 100px;
}
.active{
    border-radius: 46px;
    background-color: var(--fifth-color);
}
.footer{
    margin-top: 88px;
}
