@media (max-width: 576px) {
    /* font */
    .lavishly-regular {
        font-size: 2.25rem;
    }
    h1{
        font-size: 2.25rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.25rem;
    }
    h4{
        font-size: 1.1rem;
    }
    span{
        font-size: 0.7rem;
    }
    .container{
        max-width: 92%;
    }
    section{
        margin-top: 66px;
    }
    /* design */
    .nav-items{
        display: none;
    }
    .nav-link{
        font-size: 1rem;
    }
  
    /* banner */
    .banner-content h1{
        line-height: 1.2;
    }
    .banner-content p{
        line-height: 24px;
    }
    .banner{
        flex-direction: column;
    }
    .banner-content {
        width: 100%;
    }
    .banner-img .banner-box1, .banner-box2{
        font-size: 1.875rem;
        border-radius: 9.07px;
        width: clamp(120px, 30vw, 145.91px);
        max-height: 74.09px;
    }
    .banner-box1{
        right: 6px;
        top: 68px;
    }
    .banner-box2{
        right: 190px;
        bottom: 170px;
    }
    .btn_primary{
        max-width: 169px;
        width: 100%;
        border-radius: 42px;
        padding: 16px 0;
        font-size: 1rem;
    }
    /* habits */
    .habits-time{
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
    }
    /* runs */
    .card-content{
        width: 100%;
    }
    .runs .card{
        flex-direction: column-reverse;
        align-items: center;
        gap: 31px;
    }
    .runs .card-img img {
        width: 100%;
    }

    /* training */
    .excercise-type{
        grid-template-columns: repeat(9, 1fr);
    }
    .exercise-items:nth-child(n+5){
        display: none;
    }
    .lg-img{
        grid-column: span 5;
    }
    .md-img{
        grid-column: span 6;
    }
    .normal-img{
        grid-column: span 3;
    }
    .xs-img{
        grid-column: span 4;
    }
    .bmi-part {
        margin-top: 30px;
        margin-left: 0;
    }
    /* bmi */
    .bmi-wrapper{
        flex-direction: column;
    }
    .bmi-calculate{
        margin-top: 62px;
    }
    /* team */
    .team-members{
        margin-top: 37px;
        grid-template-columns: repeat(1,1fr);
    }
    .team-member:nth-child(n+5){
        display: none;
    }
    .footer-items{
        flex-wrap: wrap;
    }
    .team-member .member-details {
        left: 18%;
    }
}

@media (min-width: 577px) and (max-width: 768px) { 
    /* font */
    .lavishly-regular {
        font-size: 3rem;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.125rem;
    }
    h3{
        font-size: 2rem;
    }
    h4{
        font-size: 1.5rem;
    }
    span{
        font-size: 0.85rem;
    }
    /* design */
    .container{
        max-width: 92%;
    }
    section{
        margin-top: 70px;
    }
    .nav-items{
        display: flex;
    }
    .nav-link{
        font-size: 1rem;
    }
    .banner{
        flex-direction: column;
    }
    .banner-content {
        width: 100%;
    }
    .banner-img .banner-box1, .banner-box2{
        right: -33px;
        top: 68px;
        border-radius: 9.07px;
    }
    .banner-box2{
        right: 204px;
        top: 318px;
    }
    /* habits */
    .habits-time{
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
    }
    /* runs */
    .card-content{
        width: 100%;
    }
    .runs .card{
        flex-direction: column-reverse;
        gap: 31px;
    }
    .runs .card-img img {
        width: 100%;
    }
    /* trainig */
    .bmi-part {
        margin-top: 72px;
        margin-left: 0;
    }
    /* bmi */
    .bmi-wrapper {
        flex-direction: column;
    }
    .bmi-calculate {
        margin-top: 62px;
    }
    /* team */
    .team-members{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
        /* font */
        .lavishly-regular {
            font-size: 3.5rem;
        }
        h1{
            font-size: 3.5rem;
        }
        h2{
            font-size: 2.5rem;
        }
        h3{
            font-size: 2.125rem;
        }
        h4{
            font-size: 1rem;
        }
        span{
            font-size: 0.9rem;
        }
        /* design */
        .container{
            max-width: 85%;
        }
        .nav-items{
            display: flex;
        }
        .nav-link{
            font-size: 1rem;
        }

        /* banner */
        .banner-img .banner-box1, .banner-box2{
            border-radius: 9.07px;
            width: clamp(160px, 22vw, 193.91px);
        }
        .banner-box1{
            right: -39px;
            top: 44px;
        }
        .banner-box2{
            right: 156px;
            bottom: 108px;
        }
        /* habits */
        .habits-time{
            grid-template-columns: repeat(3,1fr);
            gap: 40px;
        }
        /* runs */
        .card-content{
            max-width: 263px;
        }
        .runs .card{
            /* flex-direction: column-reverse; */
            gap: 68px;
            align-items: start;
        }
        .runs .img-fluid{
            width: auto;
        }
            /* bmi */
        .bmi-wrapper {
            flex-direction: column;
        }
        .bmi-calculate {
            margin-top: 62px;
        }

}
@media (min-width: 1024px) and (max-width: 1200px) {
     /* banner */
     .banner-content {
        width: 52.69%;
        gap: 24px;
    }
     .banner-img .banner-box1, .banner-box2{
        border-radius: 9.07px;
        width: clamp(160px, 22vw, 193.91px);
    }
    .banner-box1{
        right: -42px;
        top: 117px;
    }
    .banner-box2{
        right: 166px;
        bottom: 96px;
    }

    /* bmi */

}
