.header{
    background-color: #111111;
    position: center;
}
.navbar{
    padding-top: 58px;
}
.nav-items{
    list-style: none;
    /* gap: 47px; */
    border: 1px solid var(--sixth-color);
    border-radius: 39px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.125rem;
    padding: 12px 24px;
    display: block;
}
.logo h7{
    font-size: 2.25rem;
    color: var(--fifth-color);
    font-style: italic;
}

.humberger{
    gap: 10px;
}
/* add in small display */
.show {
    display: flex;
    flex-direction: column;
}
.menu-bar{
    height: 5px;
    width: 38px;
    background-color: white;
}
/* banner */
.banner{
    margin-top: 32px;
}
.banner-content{
    width: 57.69%;
    gap: 24px;
    z-index: 2;
}
.banner-content h1{
    line-height: 85px;
}
.group-btn{
    gap: 14px;
}
.group-btn button:nth-child(2){
    background-color: #111111;
    border:1px solid var(--fourth-color);
}
.banner-img {
    position: relative;
    bottom: -4px;
}
.banner-img .banner-box1, .banner-box2{
    position: absolute;
    font-size: 2.5rem;
    justify-content: center;
    background: rgb(253 253 253 / 12%);;
    backdrop-filter: blur(10px);
    width: clamp(160px, 17vw, 193.91px);
    max-height: 98px;
    height: 100%;
    border-radius: 12px;
}
.banner-box1{
    right: -70px;
    top: 131px;
}
.banner-box2{
    right: 252px;
    bottom: 95px;
    z-index: 1;
}
/* Habits */
.habits-content{
    text-align: center;
    max-width: 671px;
}
.habits-content p{
    margin-top: 14px;
}
.habits-time{
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}
.card-img{
    border-radius: 50%;
    border: 6px solid #191919;
}
.card-img img{
    border-radius: 50%;
}
.card-title{
    margin-top: 30px;
}
.card-description{
    margin-top: 6px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
/* runs */
.runs-wrapper{
   background-color: #111111; 
   border-radius: 18px;
   padding: 30px 32px;
}
.runs .card{
    flex-direction: row-reverse;
    align-items: start;
    gap: 165px;
}
.runs .card-img{
    border:none;
    border-radius: 18px;
    /* try to zoom in so using overflow hidden */
    overflow: hidden;
}
.runs .card-img img{
    border-radius: 18px;
}
.card-content{
    max-width: 443px;
}
.runs .card-description{
    text-align: left;
}
.runs button{
    margin-top: 34px;
}

/* training */
.training-content{
    max-width: 671px;
}
.lg-img{
    grid-column: span 7;
}
.md-img{
    grid-column: span 6;
}
.normal-img{
    grid-column: span 5;
}
.sm-img{
    grid-column: span 4;
}
.xs-img{
    grid-column: span 3;
}
.excercise-type{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    margin-top: 58px;
}
.ex-item-content{
    position: relative;
    bottom: 57px;
    left: 12px;
}
.excercise-type .exercise-items img{
    height: 100%;
    object-fit: cover;
}
.bmi-part{
    margin-top: 88px;
    margin-left:17%;
    max-width: 671px;
}
.bmi-part span{
    margin-top: 14px;
}
/* BMI */
.bmi{
    background-color: #222222;
}
.bmi-wrapper{
    padding: 49px 0;
    gap: 45px;
}

table {
    margin-top: 52px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: clamp(250px,55vw, 310px);
  }
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px 17px;
}
.bmi-calculate{
    gap: 34px;
    max-width: 577px;
}
.bmi-calculate-content span{
    padding-top: 14px;
}
.input-group{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
}
.input-item, .styled-select{
    background-color: #383838;
}
.input-item{
    border-radius: 8px;
    padding: 13px 20px;
}
input, textarea, select {
    height: 23px;
    width: 100%;
    background: transparent;
    border: none;
    color: var(--sixth-color);
}
input:focus, textarea:focus, .input-item select {
    outline: none;
    box-shadow: none;
}
.input-group .input-item-lg{
    grid-column: 1/-1;
}
/* team */
.team-description{
    text-align: center;
}
.team-members{
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #191919;
    padding: 20px;
    border-radius: 18px;
    gap: 20px;
}
.team-member img{
    max-width: 326.67px;
    max-height: 272px;
    object-fit: cover;
    border-radius: 18px;
    height: 100%;
}
.team-member{
    position: relative;
}
.team-member .member-details{
    position: absolute;
    bottom: 16px;
    left: 19px;
    text-align: left;
}

/* footer */
.footer{
    background-color: #111111;;
}
.brand-content{
    gap: 20px;
    max-width: 443px;
}
.footer-items{
    padding-top: 66px;
}
.services a{
    text-decoration: none;
    color: #383838;
    font-size: 1.4rem;
}
.services{
    margin-top: 39px;
    gap: 20px;
}
.footer-border{
    margin-top: 79px;
}
.footer-border{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    height: 2px;
}
.copyright{
    padding: 35px;
    text-align: center;
}