.header{
    background-color: #111111;
    position: center;
}
.navbar{
    padding-top: 58px;
}
.nav-items{
    list-style: none;
    gap: 47px;
    border: 1px solid var(--sixth-color);
    border-radius: 39px;
    /*  padding: 10px 4px; */
    padding: 12px 24px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.125rem;
}
.logo h7{
    font-size: 2.25rem;
    color: var(--fifth-color);
    font-style: italic;
}
/* banner */
.banner{
    margin-top: 32px;
}
.banner-content{
    max-width: 520px;
    width: 100%;
    gap: 24px;
}
.banner-content h1{
    line-height: 85px;
}
.group-btn{
    gap: 14px;
}
.group-btn button:nth-child(2){
    background-color: transparent;
    border:1px solid var(--fourth-color);
}
.banner-img{
    position: relative;
}
.banner-img .banner-box1, .banner-box2{
    position: absolute;
    right: -70px;
    top: 131px;
    font-size: 2.5rem;
    justify-content: center;
    background: rgb(253 253 253 / 12%);;
    backdrop-filter: blur(10px);
    max-width: 193px;
    max-height: 98px;
    width:100%;
    height: 100%;
    border-radius: 12px;
}
.banner-box2{
    right: 256px;
    top: 421px;
}

/* Habits */
.habits-content{
    text-align: center;
    max-width: 671px;
}
.habits-content p{
    margin-top: 14px;
}
.habits-time{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}
.card-img{
    border-radius: 50%;
    border: 6px solid #191919;
}
.card-img img{
    border-radius: 50%;
}
.card-title{
    margin-top: 30px;
}
.card-description{
    margin-top: 6px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
/* runs */
.runs-wrapper{
   background-color: #111111; 
   border-radius: 18px;
   padding: 30px 32px;
}
.runs .card{
    flex-direction: row-reverse;
    gap: 165px;
}
.runs .card-img{
    border:none;
    border-radius: 18px;
    /* try to zoom in so using overflow hidden */
    overflow: hidden;
}
.runs .card-img img{
    border-radius: 18px;
}
.card-content{
    max-width: 443px;
}
.runs .card-description{
    text-align: left;
}
.runs button{
    margin-top: 34px;
}

/* training */
.training-content{
    max-width: 671px;
}
.lg-img{
    grid-column: span 5;
}
.md-img{
    grid-column: span 4;
}
.normal-img{
    grid-column: span 3;
}
.sm-img{
    grid-column: span 2;
}
.xs-img{
    grid-column: span 1;
}
.excercise-type{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
}
.excercise-type .exercise-items{
    object-fit: cover;
}
/* BMI */
.bmi{
    background-color: #222222;
}
.bmi-wrapper{
    padding: 49px 0;
}
table {
    margin-top: 52px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    max-width: 310px;
  }
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px 17px;
}
.bmi-calculate{
    gap: 34px;
    max-width: 577px;
}
.input-group{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.bmi-calculate-content span{
    padding-top: 14px;
}

.input-item input, .input-item select{
    padding: 13px 20px;
    background-color: #383838;
    border: none;
    border-radius: 8px;
    color: var(--sixth-color);
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: none;
}
input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .styled-select {
        width: 100%; 
    }
    /* team */
    .team-description{
        text-align: center;
    }
    .team-members{
        margin-top: 58px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        background-color: #191919;
        padding: 20px;
        border-radius: 18px;
        gap: 20px;
    }
    .team-member img{
        max-width: 326.67px;
        max-height: 272px;
        object-fit: cover;
        border-radius: 18px;
    }
    .team-member{
        position: relative;
    }
    .team-member .member-details{
        position: absolute;
        bottom: 16px;
        left: 19px;
        text-align: left;
    }

    /* footer */
    .footer{
        background-color: #111111;;
    }
    .brand-content{
        gap: 20px;
        max-width: 443px;
    }
    .footer-items{
        padding-top: 66px;
    }
    .services a{
        text-decoration: none;
        color: #383838;
        font-size: 1.4rem;
    }
    .services{
        margin-top: 39px;
        gap: 20px;
    }
    .footer-border{
        margin-top: 79px;
    }
    .footer-border{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        height: 2px;
    }
    .copyright{
        padding: 35px;
        text-align: center;
    }